*
{
    margin:0;
    padding:0;
}
nav
{
    display:flex;
    align-items: center;
    height:65px;
    justify-content: space-between;
    box-shadow:5px 5px 5px grey;
    position:sticky;
    top: 0;
    z-index: 50;
    background-color:white;
}
.logo
{
    margin:60px;
}
.bars
{
    font-size:25px;
    margin:60px;
}
.fir
{
    display: flex;
    margin:60px;
    margin-left:150px;
    justify-content: space-between;
}
.d
{
    width:350px;
    height:350px;
    border-radius:180px;   
}
.off,.exp
{
    color:aliceblue;
    background-color: green;
    font-size:20px;
    padding:5px;
    width:220px;
    margin-top:30px ;
}
.enj
{
    font-size:50px;
    color:black;
    text-transform: uppercase;
    font-weight:900;
    margin-top:30px;
    /* line-height:1.6; */
}
.wrt
{
    margin-left:100px;
}
.con
{
    margin-top:10px;
    font-weight: lighter;
    width:400px;
}
.exp
{
    background-color: coral;
    width:110px;
    padding:5px; 
}
.exp:hover{
    box-shadow:5px 5px 5px grey;
    transition: 0.2s ease-in-out;   
}
.cards
{
    margin-top:30px;
    display:flex;
    justify-content: space-between;
    margin-left:50px;
    margin-right:50px;
}
.card1,.card2,.card3
{
    display:flex;
    width:330px;
    height:90px;
    border-radius: 5px;
    box-shadow:1px 1px 1px grey;
}
.card1:hover,.card2:hover,.card3:hover
{
    box-shadow:5px 5px 5px grey;
    transition: 0.2s ease-in-out;
}
.head1,.head2,.head3
{
    font-size:20px;
    font-weight:bold;
    padding:5px;
}
.txt1,.txt2,.txt3
{
    padding:5px;
    text-align: left;
}
hr{
    margin-top:30px;
    width:300px;
    color:grey;
}
.divider
{
    border: 1px solid #ccc;
    margin: 30px 0px;
}
.menu
{
    align-items: center;
}
.me
{
    background-color: green;
    font-size:20px;
    font-weight:bold;
    color:white;
    padding:5px;
    margin-left:45%;
}
.Explore
{
    margin:20px;
    font-size:30px;
    font-weight:400;
    text-align: center;
}
.grd
{
    margin:25px 30px;
    display: grid;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "i1 i1 i2 i3"
    "i1 i1 i2 i7"
    "i4 i5 i6 i7";
}
.t
{
    border-radius: 10px;
    transition: ease-in-out;
}
.t:hover{
    transform:scale(1.05);
    transition: ease-in-out;
}
.img1
{
    grid-area: i1;
    -radius:5px;
}
.img2
{
    grid-area: i2;
}
.img3
{
    grid-area: i3;
}
.img4
{
    grid-area: i4;
}
.img5
{
    grid-area: i5;
}
.img6
{
    grid-area: i6;
}
.img7
{
    grid-area: i7;
}
.foot
{
    padding:20px;
    background-color: rgb(224, 132, 19);
    display:flex;
    justify-content: space-between;
}
.sym
{
    display:flex;
    justify-content: space-between;
    margin:0px 15px;
}
.i{
    margin-top:20px;
    margin-left:200px;
}
.frm
{
    margin-right:200px;
}
.head,.he{
    font-size:20px;
    font-weight:600;
    margin-bottom:10px;
}
.he{
    margin-top:10px;
}
ul {  
    list-style-type: none;  
    }  
.co{
    padding:5px;
}